# Importing Data & some cleaning and organizing.

In [1]:
# Getting data from internet
import pandas as pd
import requests
import json
import time
# Move path to another folder
import os
import shutil
import os

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kaanxtr/btc-price-1m")

print("Path to dataset files:", path)

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.6), please consider upgrading to the latest version (0.3.10).
Path to dataset files: /Users/jeanstibel/.cache/kagglehub/datasets/kaanxtr/btc-price-1m/versions/35

In [4]:
# Source path and the destination path
source_path = '/Users/jeanstibel/.cache/kagglehub/datasets/kaanxtr/btc-price-1m/versions/35'
destination_path = '/Users/jeanstibel/Documents/AI Classes/Projects/project_02/Data'

# Check if the destination path exists and remove it if it does
if os.path.exists(destination_path):
	shutil.rmtree(destination_path)

# Check if the source path exists before moving
if os.path.exists(source_path):
	shutil.move(source_path, destination_path)
else:
	print(f"Source path does not exist: {source_path}")

In [5]:
# Define the folder path and the list of cryptocurrencies
folder_path = '/Users/jeanstibel/Documents/AI Classes/Projects/project_02/Data'
cryptos = ['AAVEUSDT', 'ADAUSDT', 'ALGOUSDT', 'ATOMUSDT', 'AVAXUSDT', 'BATUSDT', 'BNBUSDT', 'BTCUSDT', 'BCHUSDT', 
           'CAKEUSDT', 'CHZUSDT', 'CRVUSDT', 'DASHUSDT', 'DEXEUSDT', 'DOGEUSDT', 'DOTUSDT', 'ENAUSDT', 'ENJUSDT', 'EOSUSDT', 'ETCUSDT', 
           'ETHUSDT', 'FILUSDT', 'GRTUSDT', 'HBARUSDT', 'ICPUSDT', 'IOSTUSDT', 'IOTAUSDT', 'LINKUSDT', 'LTCUSDT', 
           'MANAUSDT', 'NEARUSDT', 'NEOUSDT', 'QTUMUSDT', 'RVNUSDT', 'SANDUSDT', 'SHIBUSDT', 'SOLUSDT', 
           'STMXUSDT', 'SUSHIUSDT', 'TFUELUSDT', 'THETAUSDT', 'TIAUSDT', 'TRXUSDT', 'UNIUSDT', 'VETUSDT',
           'XLMUSDT', 'XRPUSDT', 'XTZUSDT', 'ZECUSDT', 'ZILUSDT']

# Load the data and add the crypto_id column
data_frames = {}
for crypto in cryptos:
    file_path = os.path.join(folder_path, crypto, f'{crypto}.csv')
    data_frames[crypto] = pd.read_csv(file_path)
    data_frames[crypto]['crypto_id'] = crypto

In [7]:
# Concatenate all dataframes into one
all_data_df = pd.concat(data_frames.values(), ignore_index=True)
all_data_df

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,crypto_id
0,2020-10-15 03:00:00,51.4300,59.0000,50.6660,55.6070,1369.481,2020-10-15 03:00:59.999,75607.779013,361,898.434,50012.700480,0,AAVEUSDT
1,2020-10-15 03:01:00,55.6030,55.6230,52.0000,52.8450,1120.278,2020-10-15 03:01:59.999,59696.689968,178,658.949,35330.288555,0,AAVEUSDT
2,2020-10-15 03:02:00,52.8450,52.8460,51.2830,51.9990,466.672,2020-10-15 03:02:59.999,24288.122840,94,185.675,9659.760008,0,AAVEUSDT
3,2020-10-15 03:03:00,51.9990,52.0000,50.6650,51.7360,205.109,2020-10-15 03:03:59.999,10594.203061,68,78.099,4043.744534,0,AAVEUSDT
4,2020-10-15 03:04:00,51.7420,51.7760,51.5000,51.6320,310.324,2020-10-15 03:04:59.999,16011.251406,44,174.396,9004.233218,0,AAVEUSDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
141454199,2025-02-15 02:56:00,0.4789,0.4790,0.4785,0.4787,27693.720,2025-02-15 02:56:59.999000,13261.509902,77,6278.130,3006.797356,0,ENAUSDT
141454200,2025-02-15 02:57:00,0.4786,0.4788,0.4782,0.4788,36964.070,2025-02-15 02:57:59.999000,17691.003892,90,23867.890,11423.487593,0,ENAUSDT
141454201,2025-02-15 02:58:00,0.4789,0.4789,0.4783,0.4789,49375.700,2025-02-15 02:58:59.999000,23628.537851,111,12259.060,5867.633747,0,ENAUSDT
141454202,2025-02-15 02:59:00,0.4789,0.4804,0.4789,0.4804,40662.250,2025-02-15 02:59:59.999000,19500.981103,147,30403.980,14582.202749,0,ENAUSDT
141454203,2025-02-15 03:00:00,0.4805,0.4816,0.4803,0.4814,60305.540,2025-02-15 03:00:59.999000,28997.067756,196,39493.480,18996.224271,0,ENAUSDT

In [8]:
# Rearanging the columns
all_data_df = all_data_df[['crypto_id', 'timestamp',  'close_time', 'open',  'close', 'high', 'low', 'volume', 'quote_asset_volume',
                       'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume',
                       'ignore']]

In [10]:
# drop columns 'ignore', 'quote_asset_volume', 'taker_buy_quote_asset_volume', 'taker_buy_base_asset_volume'
all_data_df  = all_data_df .drop(columns=['ignore', 'quote_asset_volume', 'taker_buy_quote_asset_volume', 'taker_buy_base_asset_volume'])

In [11]:
all_data_df

,crypto_id,timestamp,close_time,open,close,high,low,volume,number_of_trades
0,AAVEUSDT,2020-10-15 03:00:00,2020-10-15 03:00:59.999,51.4300,55.6070,59.0000,50.6660,1369.481,361
1,AAVEUSDT,2020-10-15 03:01:00,2020-10-15 03:01:59.999,55.6030,52.8450,55.6230,52.0000,1120.278,178
2,AAVEUSDT,2020-10-15 03:02:00,2020-10-15 03:02:59.999,52.8450,51.9990,52.8460,51.2830,466.672,94
3,AAVEUSDT,2020-10-15 03:03:00,2020-10-15 03:03:59.999,51.9990,51.7360,52.0000,50.6650,205.109,68
4,AAVEUSDT,2020-10-15 03:04:00,2020-10-15 03:04:59.999,51.7420,51.6320,51.7760,51.5000,310.324,44
...,...,...,...,...,...,...,...,...,...
141454199,ENAUSDT,2025-02-15 02:56:00,2025-02-15 02:56:59.999000,0.4789,0.4787,0.4790,0.4785,27693.720,77
141454200,ENAUSDT,2025-02-15 02:57:00,2025-02-15 02:57:59.999000,0.4786,0.4788,0.4788,0.4782,36964.070,90
141454201,ENAUSDT,2025-02-15 02:58:00,2025-02-15 02:58:59.999000,0.4789,0.4789,0.4789,0.4783,49375.700,111
141454202,ENAUSDT,2025-02-15 02:59:00,2025-02-15 02:59:59.999000,0.4789,0.4804,0.4804,0.4789,40662.250,147
141454203,ENAUSDT,2025-02-15 03:00:00,2025-02-15 03:00:59.999000,0.4805,0.4814,0.4816,0.4803,60305.540,196

In [19]:
# Check for NA values
all_data_df.isna().sum()

crypto_id           0
timestamp           0
close_time          0
open                0
close               0
high                0
low                 0
volume              0
number_of_trades    0
dtype: int64

In [20]:
# From column 'crypto_id' remove -USD
all_data_df['crypto_id'] = all_data_df['crypto_id'].str.replace('USDT', '')
all_data_df

,crypto_id,timestamp,close_time,open,close,high,low,volume,number_of_trades
0,AAVE,2020-10-15 03:00:00,2020-10-15 03:00:59.999,51.4300,55.6070,59.0000,50.6660,1369.481,361
1,AAVE,2020-10-15 03:01:00,2020-10-15 03:01:59.999,55.6030,52.8450,55.6230,52.0000,1120.278,178
2,AAVE,2020-10-15 03:02:00,2020-10-15 03:02:59.999,52.8450,51.9990,52.8460,51.2830,466.672,94
3,AAVE,2020-10-15 03:03:00,2020-10-15 03:03:59.999,51.9990,51.7360,52.0000,50.6650,205.109,68
4,AAVE,2020-10-15 03:04:00,2020-10-15 03:04:59.999,51.7420,51.6320,51.7760,51.5000,310.324,44
...,...,...,...,...,...,...,...,...,...
141454199,ENA,2025-02-15 02:56:00,2025-02-15 02:56:59.999000,0.4789,0.4787,0.4790,0.4785,27693.720,77
141454200,ENA,2025-02-15 02:57:00,2025-02-15 02:57:59.999000,0.4786,0.4788,0.4788,0.4782,36964.070,90
141454201,ENA,2025-02-15 02:58:00,2025-02-15 02:58:59.999000,0.4789,0.4789,0.4789,0.4783,49375.700,111
141454202,ENA,2025-02-15 02:59:00,2025-02-15 02:59:59.999000,0.4789,0.4804,0.4804,0.4789,40662.250,147
141454203,ENA,2025-02-15 03:00:00,2025-02-15 03:00:59.999000,0.4805,0.4814,0.4816,0.4803,60305.540,196

In [ ]:
# Export the data to a CSV file
all_data_df.to_csv('Resources/all_data_df.csv', index=False)